@import "~react-image-gallery/styles/css/image-gallery.css";

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: grey;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  font-family: 'Montserrat' ;
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.adv-slider{
  margin: 3rem auto;
}

.parallax-text h1{
  font-weight: 500;
  color: white;
  font-size: 2rem;
}

.parallax-text h2{
  font-weight: 400;
  color: white;
  font-size: 1.5rem;
}

.tittle-style h1{
    font-weight: 600;
    margin-bottom: 5px;
}

.tittle-style h2{
  font-weight: 600;
  font-size: 1.2rem;
  color: #5d5d5d;
  margin-top: 5px;
}


.top-tittle h1{
  margin-bottom: 5px;
}

.top-tittle h2{
  font-size: 1.2rem;
}

.category-text{
  font-weight: 600;
  color: white;
  font-size: 2rem;
}

.adv-slider .ant-carousel .slick-slide{
  height: 400px;
  object-fit: cover;
  background-size: cover;
}

input.error {
  border-color: red;
}

.category-card div:first-child{
  margin-left: 0;
}

.category-card div:last-child{
  margin-right: 0;
}


.text-center{
  position: relative;
float: left;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.text-center2{
  position: relative;
top: 65%;
left: 37%;
transform: translate(-50%, -50%);
}


.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}